<app-navbar></app-navbar>
<ng-container *ngIf="user && user.role == 'seller'">
    <button style="width: 100%; height: 100px" mat-button (click)="uploadItemDialog()">Upload item</button>
    <mat-divider></mat-divider>
</ng-container>
<div class="item-card-container" *ngIf="items">
    <mat-card *ngFor="let item of items" class="item-card">
        <mat-card-header>
            <mat-card-title>{{item.name}} <span *ngIf="item.boughtBy">(sold)</span></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div style="margin-top: 8px;">Price: {{item.price}}</div>
            <p>Description: {{item.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="item.boughtBy || user && item.owner == user!._id || !user" mat-button
                (click)="buyItem(item)">Buy</button>
        </mat-card-actions>
    </mat-card>
</div>