<app-navbar></app-navbar>
<button mat-button (click)="uploadItemDialog()">Upload item</button>

<div class="item-card-container" *ngIf="items">
    <mat-card *ngFor="let item of items" class="item-card">
        <mat-card-header>
            <mat-card-title>{{item.name}} <span *ngIf="item.boughtBy">(sold)</span></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>

            <div style="margin-top: 8px;">Price: {{item.price}}</div>
            <p>Description: {{item.description}}</p>
            <p>Owner: {{item.owner}}</p>
            <p>Bought by: {{item.boughtBy}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="item.boughtBy || item.owner == user!._id" mat-button (click)="buyItem(item)">Buy</button>
        </mat-card-actions>
    </mat-card>
</div>
